* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    overflow-x: hidden;
}
 body {
    background-color: rgba(88, 20, 121, 1);
 }

  /*HEADER*/
  
header{
    background-color: rgba(88, 20, 121, 1);
}

li {
    list-style: none;
}

header a {
    color: yellow;
    text-decoration: none;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header .logo{
    width: 45px;
    height: 45px;
    background: url(./assets/274292716_7232587793448720_665045178879353144_n.jpg) center/cover;
    border-radius: 50px;
}

.navbar {
    min-height: 70px;
    display: flex;
    align-items: center;
    justify-content: right;
    padding: 0 34px;
}

.logo {
    font-size: 2rem;
    font-weight:800;
    color: rgba(88, 20, 121, 1);
    font-family: sans-serif;
}

.nav-menu{
    display: flex;
    align-items: center;
    display: flex;
    gap: 40px;
}

.nav-links {
    transition: 0.4s ease;
}

.nav-links:hover {
    color: red;
}

.hamburguer{
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 28px;
    height: 3px;
    border-radius: 2px;
    margin: 5px auto;
    background-color: white;
    transition: all 0.3s ease-in-out;
}

@media (max-width:1268px){
    .hamburguer {
        display: block;
    }

    .hamburguer.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburguer.active .bar:nth-child(1){
       transform: translateY(8px) rotate(45deg)
    }
    .hamburguer.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu {
        position: absolute;
        z-index: 3;
        left: -100%;
        top: 70px;
        gap: 0;
        border-radius: 0 0 20px 20px;
        background-color: rgba(88, 20, 121, 1);
        text-align: center;
        flex-direction: column;
        width: 100%;
        transition: 0.3s;
    }

    .nav-items{
        margin: 16px 0;
    }

    .nav-menu.active {
        left: 0;
    }
}

.hidden {
    visibility: hidden;
    transform: translateX(-100%);
    transition: 2s ;
}

.show {
    visibility: initial;
    transform: translateX(0);
    transition: 2s ;
}

.hidden2 {
    visibility: hidden;
    transform: translateX(100%);
    transition: 2s ;
    
}

.show2 {
    visibility: initial;
    transform: translateX(0);
    transition: 1.5s ;
}

.hidden3 {
    visibility: initial;
    transform: translateY(-100%);
    transition: 1.5s ;
    
}

.show3 {
    visibility: initial;
    transform: translateY(0);
    transition: 1.5s ;
}


.hidden4 {
    visibility: initial;
    transform: translateY(0);
    transition: 1.5s ;
    
}

.show4 {
    visibility: hidden;
    transform: translateY(100%);
    transition: 1.5s ;
}

/* MAIN */
.logo {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
}

.logo img {
    height: 80%;
    border-radius: 100px;
}

#box {
    width: 100%;
    height: 370px;
    background: white;
    position: absolute;
    top: 70px;
}

.sections {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: white;
} 

.title1 {
    display: flex;
    justify-content: center;
}

.title1 h2 {
    width: 65%;
   color: rgba(88, 20, 121, 1);
   font-size: 30px;
   margin-top: 10%;
   border-right: 4px solid yellow;
}
.title2 {
    display: flex;
    justify-content: end;
}

.title2 h3{
    color: yellow;
    background-color: rgba(88, 20, 121, 1);
    text-align: right;
    font-size: 25px;
    margin-top: 10%;
    margin-bottom: 10%;
    padding: 10px;
    border-left: 4px solid yellow;
}

.title3 h4 {
    width: 55%;
    color: yellow;
    font-size: 20px;
    background: rgba(88, 20, 121, 1);
    padding: 10px;
    border-right: 4px solid yellow;
}

.title3 a {
    color: white;
    font-style: italic;
}

#departaments {
    margin-top: 30px;
}

#departaments div {
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

 #departaments div h3 { 
    color: yellow;
    font-size: 70px;
    margin-left: 30px;    
 }

 #departaments div p {
    width: 50%;
    color: white;
    font-size: 20px;
    margin-left: 30px;
    padding: 8px;
    background-color: rgba(88, 20, 121, 1);
 }

.louvor {
    background: url(./assets/louvorjvv2.jpg) center/cover;
    background-attachment: fixed;
}

.eumeimporto {
    background: url(./assets/eumeimportojvv2.jpg) center/cover;
    background-attachment: fixed;
}

.imersao {
    background: url(./assets/imersao4.jpg) center/cover;
    background-attachment: fixed;
}

.revolucao {
    background: url(./assets/revoluçaojvv6.jpg) center/cover;
    background-attachment: fixed;
}

.comunicacao {
    background: url(./assets/cominicacaojvv3.jpg) center/cover;
    background-attachment: fixed;
}

.sonoplastia {
    background: url(./assets/sonoplastia.jpg) center/cover;
    background-attachment: fixed;
}

.diaconato {
    background: url(./assets/diaconatojvv3.jpg) center/cover;
    background-attachment: fixed;
}

.ancorados {
    background: url(./assets/ancorados4.jpg) center/cover;
    background-attachment: fixed;
}

.teatro {
    background: url(./assets/TeatroJvv.jpg) center/cover;
    background-attachment: fixed;
}

.connect {
    background: url(./assets/connectjvv.jpg) center/cover;
    background-attachment: fixed;
}


@media screen and (max-width:425px){
    .departaments div h3 {
        font-size: 45px;
        margin-left: 20px;
    }

    .departaments div p {
        margin-left: 20px;
    }

    .connect{
        background-position: -200px;
    }

    .teatro {
        background-position: -200px;
    }

    .eumeimporto {
        background-position: -280px;
    }

    .diaconato {
        background-position: -300px;
    }

    .louvor {
        background-position: -250px;
    }

    .revolucao {
        background-position: -90px;
    }
}

/* FOOTER */
footer {
    height: 80px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social-links a {
    font-size: 25px;
    margin-right: 20px; 
    gap: 5px;   
}

.address {
    margin-left: 20px;
    color: rgba(88, 20, 121, 1);
}